# Mac
*.DS_Store

# Windons
Thumbs.db

# Configuração de IDE
.vscode/
.idea/

# Arquivos de cache do Power BI
*.pbix
*.pbit

# Cache e arquivos temporários
*.tmp
*.temp
*.bak
*.log
*.cache

# Local settings
.localSettings.json

# OS files
Thumbs.db

# Editor
.vscode/

# Arquivos locais de credenciais
*.credential
*.credentials