# Mac
*.DS_Store

# Windons
Thumbs.db

# Configuração de IDE
.vscode/
.idea/

# Arquivos de cache do Power BI
**/.pbi/localSettings.json
**/.pbi/cache.abf
*.pbix
*.pbit

# Cache e arquivos temporários 
*.tmp
*.temp
*.bak
*.log
*.cache
#*.gitignore

# Local settings
.localSettings.json

# Arquivos locais de credenciais
*.credential
*.credentials